body {
    box-sizing: border-box;
    font-size: 11px;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

table,th,td {
    border: 1px solid black;
}

th,td {
    padding: 5px;
}

thead {
    background-color: coral;
}

tbody {
    background-color: burlywood;
}

#mensaje {
    font-weight: 700;
}

.title {
    font-size: 35px;
}

h1 {
    color: #333333;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 10px;
    width: 100px;
}

.card h2 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 5px;
}

.card p {
    color: #666666;
    font-size: 14px;
}