*{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.title{
    color:thistle;
    font-size: 10rem;
    font-family: 'Lobster', cursive;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: #fff;

}